= form_for [:admin, @post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title
    = f.text_field :title
  .form-group
    = f.label :content
    = f.text_area :content
  .form-group
    = f.label :category
    = f.collection_select :category_id, @categories, :id, :name
  .form-group
    = f.label :created_at
    = f.datetime_select :created_at
  .form-group
    = f.label :position
    = f.select :position, (1..@posts_count+1).zip((0..@posts_count))
  .actions
    = f.submit 'Save'
