%h1 Really cool blog

- @posts.each do |post|
  %h2= post.title
  %i= post.created_at
  .post-content= post.content
  - post.comments.each do |comment|
    .comment
      %i= comment.created_at
      .comment-content= comment.content
