%p#notice= notice

%h2= @post.title
%i= @post.created_at
.post-content= @post.content
- @post.comments.each do |comment|
  .comment
    %i= comment.created_at
    .comment-content= comment.content
= form_for [@post, @post.comments.build] do |f|
  %p
    = f.label :content
    %br
    = f.text_area :content
  = f.submit

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
