!!! HTML
%html
  %head
    %title PersonalRankings
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller]
    = csrf_meta_tags
%body
  %h1 Really cool blog
  %p.notice
    = notice
  %p.alert
    = alert

.container
  .row
    .col-sm-9
      - @category_rankings.each_slice(3) do |cat_ranks|
        .row
          -cat_ranks.each do |cat_rank|
            .col-sm-4
              =render 'shared/ranking', ranking: cat_rank
      .row
        .col-sm-12
          = yield
    .col-sm-3
      =render 'shared/ranking', ranking: @main_ranking


